version: "3.9"

services:

  # PostgreSQL Database Service
  postgres:
    image: postgres:15
    container_name: movieticket-postgres
    restart: always
    environment:
      POSTGRES_DB: movie_ticket_booking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - movie_net


  # MongoDB Service for Seat Locking
  mongo:
    image: mongo:6
    container_name: movieticket-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - movie_net


  # Django Backend Service
  django:
    build:
      context: ./movieticket
    container_name: movieticket-django
    restart: always
    environment:
      DJANGO_SETTINGS_MODULE: movieticket.settings
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DEBUG: "1"
      DB_NAME: movie_ticket_booking
      DB_USER: postgres
      DB_PASSWORD: 1234
      DB_HOST: postgres
      DB_PORT: 5432
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    volumes:
      - ./movieticket:/app
    networks:
      - movie_net


  # FastAPI Service
  fastapi:
    build:
      context: ./fastapi_service
    container_name: movieticket-fastapi
    restart: always
    environment:
      MONGO_URI: mongodb://mongo:27017
      RAZORPAY_KEY_ID: ${RAZORPAY_KEY_ID}
      RAZORPAY_KEY_SECRET: ${RAZORPAY_KEY_SECRET}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
    ports:
      - "8001:8001"
    depends_on:
      - mongo
      - django
    networks:
      - movie_net


networks:
  movie_net:
    driver: bridge


volumes:
  pg_data:
  mongo_data:
