body {
  font-family: Arial;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 8px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

#seats {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  gap: 10px;
  justify-content: center;
  margin: 20px;
}

.seat {
  padding: 10px;
  margin: 5px;
  border: 1px solid #444;
  display: inline-block;
  cursor: pointer;
}

.selected {
  background: green;
  color: white;
}

.locked {
  background: orange;
  cursor: not-allowed;
}

.booked {
  background: red;
  cursor: not-allowed;
}
